$primary: #002060;
$primary2: #EEECE1;
$primary3: #CFA578;

p {
  margin-bottom: 0;
}

header {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    @media(max-width:992px) {
      height: 90px; 
    }
    .logo {
      width: 130px;
      height: 80px;
    }
    .nav {
      min-width: 750px;
      display: flex;
      justify-content: space-evenly;
      font-weight: bold;
      font-size: 18px;
      .m1 {
        &:hover {
          color: $primary;
          display: block;
        } 
      }
    }
  }

  
.container {
  .logo {
    @media(max-width: 992px) {
      flex-grow: 1;
      height: auto;
    }
    .logo_img {
      @media(max-width:992px) {
        width: 100px;
      }
    }
  }
  .nav {
    @media(max-width: 992px) {
      display: none;
    }
    .nav-item {
      .nav-link {
        color: #222222;
        position: relative;
        display: block;
      }
      .sub_gnb {
        display: none;
        background-color: #222222;
        opacity: 0.9;
        padding: 20px 20px;
        li {
          text-align: center;
          margin-bottom: 10px;
          a {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      .sung {
        width: 100px;
      }
      &:hover .sub_gnb {
        display: block;
        position: absolute;
      }
    }
  }
  .tel_i_area {
    display: flex;
    align-items: center;
    .tel_i_img {
      width: 60px;
      height: auto;
    }
    .telnum {
      color: $primary;
      font-weight: bold;
      @media(max-width: 1200px) {
        display: none;
      }
      .sub_tel {
        font-size: 24px;
        margin-left: 4px;
      }
    }
  }
  [data-bs-toggle="offcanvas"] {
    display: none;
    width: 70px;
    @media(max-width: 992px) {
      display: block;
    }
    .menu_icon {
      width: 100%;
    }
  }
  .offcanvas{
    .list-group {
      .list-group-item {
        padding: 16px;
        .href_main {
          color: #222222;
          font-size: 20px;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
        .href-sub-list {
          margin-top: 20px;
          padding-left: 2rem;
          li {
            margin-bottom: 15px;
            a {
              color: #222222;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
