$primary: #002060;
$primary2: #EEECE1;
$primary3: #CFA578;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.view {display: block;}

.active {
  font-size: 24px;
  color: $primary;
  font-weight: bold;
}


section {
  padding-top: 120px;  
}

.top_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  .top_title_area {
    text-align: center;
    .title {
      .sub_text {
        font-size: 22px;
        color: $primary;
        margin-bottom: 5px !important;
      }
      .main_text {
        font-size: 30px;
        color: $primary;
        font-weight: bold;
      }
    }
  }
  .content_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    #img_area {
      display: flex;
      .img-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .img-item {
          width: 45%;
          position: relative;
          @media(max-width: 660px) {
            width: 70%;
          }
          img {
            width: 100%;
            height: auto;
            margin-top: 35px;
          }
        }
      }
    }
    .bbtn_premium {
      padding: 20px 30px;
      border-radius: 5px;
      border: 1px solid #696969;
      color: #222222;
      margin-top: 50px;
      font-weight: bold;
      &:hover {
        // font-weight: bold;
        background: $primary;
        color: #fff;
      }
    }
  }
}

.first_sec {
  .main_banner_area {
    position: relative;
    .img_area {
      .img {
        height: auto;
        width: 100%;
      }
      .left-text {
        position: absolute;
        top: 0;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 16px;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 150px;
        }
      }
      .center-text {
        position: absolute;
        left: 34vw;
        top: 8vh; 
        width: 150px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.top_image {
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
  @media(max-width:850px) {
    flex-direction: column;
    align-items: center;
  }
  .top_text {
    .header_title {
      font-size: 35px;
      color: #002060;
      font-weight: bold;
    }
  }
}


.snd_sec {
  .snd_content {
    padding: 60px 40px;
    background-color: $primary2;
    .image_area {
      display: flex;
      justify-content: center;
      .iimg {
        width: 100%;
        height: auto;
      }
      .text-area {
        .container_1 {
          display: flex;
          justify-content: center;
          @media(max-width:992px) {
            flex-wrap: wrap;
          }
          img {
            margin-right: 15px;
            margin-bottom: 20px;
            &:last-child {
              margin-right: 0;
            }
            @media(max-width: 992px) {
              margin: 10px;
              &:nth-child(3) {
                margin-right: 0;
              }
              @media(max-width:927px) {
                &:nth-child(3) {
                  margin-right: 10px;
                }
                &:last-child {
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .container_2 {
          display: flex;
          justify-content: center;
          @media(max-width:992px) {
            flex-wrap: wrap;
          }
          img {
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
            @media(max-width: 992px) {
              margin: 10px;
              &:nth-child(3) {
                margin-right: 0;
              }
              @media(max-width:647px) {
                &:last-child {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      } 
    }
  }
}


.footer_area {
  background-color: #222222;
  padding: 60px 0;
  text-align: left;
  .content_area {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    @media(max-width:992px) {
      padding: 0 20px;
    }
    .cont_1 {
      display: flex;
      color: #EEECE1;
      font-size: 14px;
      @media(max-width:992px) {
        flex-direction: column;
        align-items: center;
      }
      .text_area {
        margin-left: 50px;
        @media(max-width: 992px) {
          text-align: center;
          margin-left: 0;
          margin-top: 20px;
        }
        p {
          margin-bottom: 5px !important;
        }
        .pri_color {
          color: $primary3;
          margin-top: 20px;
          strong {
            font-size: 15px;
          }
        }
        .gray_area {
          margin-top: 15px;
          .gray {
            color: #696969;
          }
        }
      }
    }

    .cont_2 {
      margin-top: 30px;
      display: flex;
      color: #EEECE1;
      font-size: 14px;
      @media(max-width:992px) {
        flex-direction: column;
        align-items: center;
      }
      .text_area {
        margin-left: 50px;
        @media(max-width: 992px) {
          text-align: center;
          margin-left: 0;
          margin-top: 10px;
        }
        p {
          margin-bottom: 5px !important;
        }
        .pri_color {
          color: $primary3;
          margin-top: 20px;
          strong {
            font-size: 15px;
          }
        }
        .gray_area {
          margin-top: 15px;
          .gray {
            color: #696969;
          }
        }
        .white {
          margin-top: 15px;
          margin-bottom: 15px !important;
        }
        .personalInformationProcessing {
          color: $primary3;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

