$primary: #002060;
$primary2: #EEECE1;
$primary3: #CFA578;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

.display-none {
  display: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.view {display: block;}

.active {
  font-size: 24px;
  color: $primary;
  font-weight: bold;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .swiper-wrapper {
    display: flex;
  }
}


section {
  padding-top: 90px;
  @media(max-width:992px) {
    padding-top: 90px;
  }  
}

.top_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  .top_title_area {
    text-align: center;
    .title {
      @media(max-width:992px) {
        padding: 0 20px;
      }
      .sub_text {
        font-size: 22px;
        color: $primary;
        margin-bottom: 5px !important;
      }
      .main_text {
        font-size: 30px;
        color: $primary;
        font-weight: bold;
      }
    }
  }
  .premium-content-area {
    .premium-slide {
      .img-items {
        text-align: center;
        margin-top: 40px;
        position: relative;
        @media(max-width:992px) {
          padding: 0 20px;
        }
        .btn-area {
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          left: 130px;
          @media(max-width:630px) {
            left:90px;
          }
          @media(max-width:450px) {
            left: 70px;
          }
          @media(max-width:420px) {
            left: 45px;
          }
          
          .bbbtn {
            font-size: 22px;
            color: $primary3;
            font-weight: 600;
            cursor: pointer;
            z-index: 9999;
            @media(max-width:560px) {
              font-size: 18px;
            }
          }
        }
      }
    }
    .bbtn_premium {
      padding: 12px 30px;
      border: 1px solid #696969;
      color: #fff;
      margin-top: 50px;
      font-weight: bold;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 500%);
      top: 0;
      &:hover {
        // font-weight: bold;
        background: #fff;
        opacity: .1;
        color: #222;
      }
      @media(max-width:630px) {
        transform: translate(-50%, 400%);
      }
      @media(max-width:550px) {
        transform: translate(-30%, 300%);
      }
      @media(max-width:470px) {
        padding: 9px 18px;
        margin-top: 30px;
      }
      @media(max-width:400px) {
        margin-top: 12px;
      }
      @media(max-width:370px) {
        margin-top: 0;
      }
    }
  }
  .content_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    #img_area {
      display: flex;
      .img-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .img-item {
          width: 45%;
          position: relative;
          @media(max-width: 660px) {
            width: 70%;
          }
          img {
            width: 100%;
            height: auto;
            margin-top: 35px;
          }
        }
      }
    }
  }
}

hr {
  @media(max-width:530px) {
    margin: 0.5rem 0 !important;
  }
  @media(max-width:400px) {
    margin: 0.3rem 0 !important;
  }
}

.first_sec {
  .main_banner_area {
    position: relative;
    @media(max-width: 992px) {
      display: none;
    }
    .img_area {
      @media(max-width:992px) {

      }
      .bg-right-content {
        position: absolute;
        right: 0;
        top: 0;
        .bg--r-main-title {
          position: absolute;
          top: 65px;
          right: 50px;    
        }
      }
      .img {
        height: 600px;
        width: 100%;
      }
      .left-text {
        position: absolute;
        top: 0;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 16px;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 150px;
        }
      }
      .center-text {
        position: absolute;
        left: 11vw;
        top: 18.4vh;
        width: 247px;
        @media(max-width:992px) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        img {
          width: 100%;
        }
      }
    }
  }

  .main_banner_area_m {
    display: none;
    position: relative;
    @media(max-width: 992px) {
      display: block;
    }
    .img_area {
      .img {
        width: 100%;
      }
      .title_992 {
        display: none;
        @media(max-width:992px) {
          position: absolute;
          top: 0;
          left: 50%;
          display: block;
          transform: translate(-50%, 50px);
          width: 50%;
        }
      }
    }
  }
}

.top_image {
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
  @media(max-width:850px) {
    flex-direction: column;
    align-items: center;
  }
  .top_text {
    .header_title {
      font-size: 35px;
      color: #002060;
      font-weight: bold;
    }
  }
}


.snd_sec {
  .snd_content {
    padding: 60px 40px;
    background-color: $primary2;
    .image_area {
      display: flex;
      justify-content: center;
      .iimg {
        width: 100%;
        height: auto;
      }
      .text-area {
        .image-list {

        }
      } 
    }
  }
}

.benefit-area {
  position: relative;
  z-index: 12;
  .benefit-list {
    display: flex;
    justify-content: space-between;
    @media(max-width: 992px) {
      flex-direction: column;
    }
    .left-bg {
      padding-left: 140px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media(max-width: 992px) {
        align-items: center;
        padding-left: 0;
      }
      .l-b-t {
        width: 75%;
        @media(max-width:992px) {
          width: 60%;
        }
      }
      .l-b-f {
        width: 70%;
        @media(max-width: 992px) {
          width: 60%;
        }
      }
    }
    .right-bg {
      position: relative;
      
      .r-b-img {
        height: 830px;
        width: auto;
        @media(max-width: 1350px) {
          height: 680px;
        }
        @media(max-width:992px) {
          width: 100%;
          height: auto;
        }
      }
      .r-sub-bg {
        position: absolute;
        top: 210px;
        right: 213px;
        @media(max-width:1350px) {
          top: 159px;
          right: 80px;
        }
        @media(max-width: 992px) {
          right: 130px;
        }
        @media(max-width:900px) {
          top: 115px;
        }
        @media(max-width:800px) {
          top: 80px;
          right: 55px;
        }
        @media(max-width:650px) {
          top: 80px;
          right: 0px;
          left: 110px;
        }
        @media(max-width:550px) {
          top: 55px;
          right: 0;
          left: 80px;
        }
        @media(max-width:450px) {
          top: 45px;
          right: 0px;
          left: 72px;
        }
        @media(max-width:400px) {
          right: 0px;
        }
        .r-s-img {
          width: 90%;
          @media(max-width:1350px) {
            width: 80%;
          }
          @media(max-width:992px) {
            width: 100%;
          }
          @media(max-width:800px) {
            width: 90%;
          }
          @media(max-width:650px) {
            width: 85%;
          }
          @media(max-width: 550px) {
            width: 85%;
          }
          @media(max-width:450px) {
            width: 85%;
          }
          @media(max-width:400px) {
            width: 85%;
          }
          @media(max-width:370px) {
            width: 80%;
          }
          @media(max-width:340px) {
            width: 35%;
          }
        }
      }
    }
  }
}

.footer_area {
  background-color: #222222;
  padding: 60px 0;
  text-align: left;
  .content_area {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    @media(max-width:992px) {
      padding: 0 20px;
    }
    .cont_1 {
      display: flex;
      color: #EEECE1;
      font-size: 14px;
      align-items: center;
      @media(max-width:992px) {
        flex-direction: column;
        align-items: center;
      }
      .logo {
        width: 180px;
        img {
          width: 100%;
        }
      }
      .text_area {
        margin-left: 50px;
        @media(max-width: 992px) {
          text-align: center;
          margin-left: 0;
          margin-top: 20px;
        }
        p {
          margin-bottom: 5px !important;
        }
        .personalInformationProcessing {
          color: $primary3;
          &:hover {
            font-weight: bold;
          }
        }
        .pri_color {
          color: $primary3;
          margin-top: 20px;
          strong {
            font-size: 15px;
          }
        }
        .gray_area {
          margin-top: 15px;
          .gray {
            color: #696969;
          }
        }
      }
    }

    .cont_2 {
      margin-top: 30px;
      display: flex;
      color: #EEECE1;
      font-size: 14px;
      @media(max-width:992px) {
        flex-direction: column;
        align-items: center;
      }
      .text_area {
        margin-left: 50px;
        @media(max-width: 992px) {
          text-align: center;
          margin-left: 0;
          margin-top: 10px;
        }
        p {
          margin-bottom: 5px !important;
        }
        .pri_color {
          color: $primary3;
          margin-top: 20px;
          strong {
            font-size: 15px;
          }
        }
        .gray_area {
          margin-top: 15px;
          .gray {
            color: #696969;
          }
        }
        .white {
          margin-top: 15px;
          margin-bottom: 15px !important;
        }
        .personalInformationProcessing {
          color: $primary3;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.image {
  position: initial;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}


.image1 {
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

.image1.active {
  opacity: 1; 
}